<ion-view title="Post" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="post-form4" class="list">
      <label class="item item-input" id="post-textarea1">
        <span class="input-label">Post</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="post-button-bar1" class="button-bar">
      <button id="post-button9" class="button button-positive  button-block icon ion-android-image"></button>
      <button id="post-button10" class="button button-positive  button-block icon ion-android-camera"></button>
      <button id="post-button11" class="button button-positive  button-block icon ion-android-locate"></button>
      <a ui-sref="page1.page2" id="post-button12" class="button button-assertive  button-block">Post</a>
    </div>
  </ion-content>
</ion-view>